services:
- type: pserv
  name: zulip-redis
  env: docker
  dockerfilePath: ./redis/Dockerfile
  dockerContext: ./redis
  envVars:
    - key: REDIS_PASSWORD
      generateValue: true    
  disk:
    name: redis-persistent-storage
    mountPath: /data
    sizeGB: 10
- type: pserv
  name: zulip-memcached
  env: docker
  dockerfilePath: ./memcached/Dockerfile
  envVars:
    - key: SASL_CONF_PATH
      value: /home/memcache/memcached.conf
    - key: MEMCACHED_SASL_PWDB
      value: /home/memcache/memcached-sasl-db
    - key: MEMCACHED_PASSWORD
      generateValue: true
- type: pserv
  name: zulip-rabbitmq
  env: docker
  repo: https://github.com/render-examples/rabbitmq.git
  envVars:
    - key: RABBITMQ_ERLANG_COOKIE
      generateValue: true
    - key: RABBITMQ_DEFAULT_USER
      value: zulip # Must be set to zulip
    - key: RABBITMQ_DEFAULT_PASS
      generateValue: true
  disk:
    name: rabbitmq
    mountPath: /var/lib/rabbitmq
    sizeGB: 10
- type: pserv
  name: zulip-postgresql
  env: docker
  dockerfilePath: ./postgresql/Dockerfile
  envVars:
    - key: POSTGRES_DB
      value: zulip # Must be set to zulip
    - key: POSTGRES_USER
      value: zulip # Must be set to zulip
    - key: POSTGRES_PASSWORD
      generateValue: true
  disk:
    name: postgresql-persistent-storage
    mountPath: /var/lib/postgresql/data
- type: web
  name: zulip
  env: docker
  plan: starter plus
  dockerfilePath: ./docker-zulip/Dockerfile
  disk:
    name: zulip-persistent-storage
    mountPath: /data
  envVars:
    - key: SETTING_EXTERNAL_HOST
      sync: false # the hostname your users will use to connect to your Zulip server. this defaults to the onrender.com domain given to you by Render
    - key: SETTING_ZULIP_ADMINISTRATOR
      sync: false # (required) initial admin email for setup; set to your personal email address
    - key: SETTING_EMAIL_HOST
      sync: false  # (for production) set to a valid SMTP server host in the dashboard
    - key: SETTING_EMAIL_HOST_USER #TODO
      sync: false # (for production) set to the SMTP user in the dashboard
    - key: SETTING_EMAIL_PORT
      sync: false # (for production) set to the SMTP email port in the dashboard
    - key: SECRETS_email_password
      sync: false # (for production) set to the SMTP server password in the dashboard
    - key: SETTING_EMAIL_USE_SSL
      value: False # (for production) False since TLS replaces SSL; SETTING_EMAIL_USE_TLS is set to True
    - key: SETTING_EMAIL_USE_TLS
      value: True
    - key: QUEUE_WORKERS_MULTIPROCESS
      value: False # set to True if Zulip plan is standard plus or greater
    - key: ZULIP_AUTH_BACKENDS
      value: 'EmailAuthBackend' # Zulip supports other authentication methods https://zulip.readthedocs.io/en/latest/production/authentication-methods.html
    - key: SECRETS_secret_key
      generateValue: true
    - key: DB_HOST
      fromService:
        name: zulip-postgresql
        type: pserv
        property: host
    - key: DB_HOST_PORT
      fromService:
        name: zulip-postgresql
        type: pserv
        property: port
    - key: DB_USER
      fromService:
        name: zulip-postgresql
        type: pserv
        envVarKey: POSTGRES_USER
    - key: SETTING_MEMCACHED_LOCATION
      fromService:
        name: zulip-memcached
        type: pserv
        property: hostport
    - key: SETTING_REDIS_HOST
      fromService:
        name: zulip-redis
        type: pserv
        property: host
    - key: REDIS_PORT
      fromService:
        name: zulip-redis
        type: pserv
        property: port
    - key: SETTING_RABBITMQ_HOST
      fromService:
        name: zulip-rabbitmq
        type: pserv
        property: host
    - key: SECRETS_memcached_password
      fromService:
        name: zulip-memcached
        type: pserv
        envVarKey: MEMCACHED_PASSWORD
    - key: SECRETS_postgres_password
      fromService:
        name: zulip-postgresql
        type: pserv
        envVarKey: POSTGRES_PASSWORD
    - key: SECRETS_rabbitmq_password
      fromService:
        name: zulip-rabbitmq
        type: pserv
        envVarKey: RABBITMQ_DEFAULT_PASS
    - key: SECRETS_redis_password
      fromService:
        name: zulip-redis
        type: pserv
        envVarKey: REDIS_PASSWORD
    - key: DISABLE_HTTPS
      value: True # Do not edit! Render gives you SSL automatically. This removes https-related config
    - key: PORT
      value: 80 # Do not edit! Nginx listens for http traffic at port 80
    - key: SSL_CERTIFICATE_GENERATION # Render gives you SSL out of the box
      value: 'self-signed' # We set this to self-signed, since setup requires a value, but this is not used
